body{
    background-color: bisque;
}
.container{
    background-color: gray;
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    width: auto;
}
#buttons{
    display: inline-block;
}
button{
    padding: 10px;
    margin: 3px;
}
#cartoon{
    text-align: center;
    display: inline-block;
    border: 3px solid black;
    border-radius: 20px;
    background-color: dodgerblue;
    width: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}
.cartoonInfo {
    display: inline-block;
    
}
.item{
    background-color: rgba(128, 128, 128, 0.747);
    display: inline-block;
    width: auto;
    padding: 10px;
    margin: 5px;
    border: 3px solid black;
    border-radius: 20px;
}
#cartoon-form{
    display: inline-block;
    /* background-color: blueviolet; */
    padding-right: 30px;
    padding-top: 10px;

}
#cartoon-input{
    margin-top: 5px;
    margin-bottom: 5px;
}
