.container{
    background-color: gray;
    padding: 50px;
    border: 3px solid black;
    border-radius: 20px;
}
#buttons{
    padding: 20px;
    display: inline;
    /* background-color: aqua; */
}
button{
    padding: 10px;
    margin: 3px;
}
#cartoon{
    text-align: center;
    display: inline-block;
    border: 3px solid black;
    border-radius: 20px;
    background-color: blue;
    width: 100%;
    padding-bottom: 50px;
}
.cartoonInfo {
    display: inline-block;
    
}
.item{
    background-color: rgba(128, 128, 128, 0.747);
    display: inline-block;
    width: auto;
    padding: 10px;
    margin: 5px;
    border: 3px solid black;
    border-radius: 20px;
}
#cartoon-form{
    display: inline-block;
    /* background-color: blueviolet; */

}
